* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}

li {
   list-style: none;
}

a {
    list-style: none;
    text-decoration: none;
    color: aliceblue;
<<<<<<< HEAD
    font-size: 1.375rem;
}

html {
    scroll-behavior: smooth;
=======
    font-size: 22px;
>>>>>>> bb8dbf1eeb1563d6be4630db6f2df9c9e3703a2f
}