* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}

li {
   list-style: none;
}

a {
    list-style: none;
    text-decoration: none;
    color: aliceblue;
    font-size: 1.375rem;
}

html {
    scroll-behavior: smooth;
}