.formacion {
    background-color: cadetblue;
    padding: 3.125em;

    h1 {
        text-align: center;
    }

    &__card {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.875em;

        @media (max-width: 419px) {
            img {
                width: 90%;
            }
        }
        
        img {
            padding-bottom: 0.625em;
            border: 1px solid salmon;
            
        }

        &--items {
            text-align: center;
            font-size: 1.125rem;
        }
    }
}

