.sobreMi {
    background-color: cadetblue;
    padding: 3.125em;

    //  @media (max-width: 801px) {
    //     margin: 0;
    // }
    

    h1,p {
        width: 70%;
        margin-bottom: 30px;

        @media (max-width: 801px) {
            width: 100%;
            text-align: center;
        }
    }

    
}